<header>
    <nav class="navbar navbar-expand-sm">
        <div class="navbar-header">
            <span class="navbar-brand">The Company</span>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <span><i class="material-icons icon-left">person_outline</i> Me</span>
                </li>
            </ul>
        </div>
    </nav>
</header>